# 本地开发配置文件 #
src/main/resources/application-default.yml

# Windows thumbnail cache files
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# Maven
target/

#JetBrains
.idea/
*.iml

# File-based project format:
*.iws

# IntelliJ
/out/
src/main/resources/static/
src/main/resources/rebel.xml
